* body {

    margin: 0;
    padding: 0;
    background-color: green;
  }

  h1 {
    text-align: center;
    margin-top: 50px;
  }

  a {
    display: block;
    padding: 10px;
    margin: 10px auto;
    width: 200px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  a:hover {
    background-color: #0056b3;
  }

  .btn{
   color: blue;
   text-align: top;
   margin-top: 30px;
   translate: 50px;
   display: block;
   opacity: 0.9;

  }